################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/pma-method/config/applicationhost.config
/.vs/pma-method/config
